src/test/resources/freshbooks-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:freshbooks="http://www.mulesoft.org/schema/mule/freshbooks"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/freshbooks http://www.mulesoft.org/schema/mule/freshbooks/1.0-SNAPSHOT/mule-freshbooks.xsd">

    <freshbooks:config apiUrl="https://mulesoft.freshbooks.com/api/2.1/xml-in"
                       authenticationToken="d2712de2609e665e03948614ad7197fc"/>

    <flow name="categoryFlow">
        <freshbooks:create-category name="MuleSoftFTW"/>
        <freshbooks:get-category categoryId="#[payload]"/>
        <freshbooks:update-category categoryId="#[bean:Id]" name="MuleSoftFTW2"/>
        <freshbooks:delete-category categoryId="#[bean:Id]"/>
        <freshbooks:list-categories/>
    </flow>

    <flow name="clientFlow">
        <freshbooks:create-client firstName="Emiliano" lastName="Lesende" organization="MuleSoft, Inc."
                                  email="emiliano.lesende@mulesource.com"/>
        <freshbooks:get-client clientId="#[payload]"/>
        <freshbooks:update-client clientId="#[bean:Id]" firstName="Ross" lastName="#[bean:lastName]" organization="#[bean:organization]"
                                  email="#[bean:email]"/>
        <freshbooks:delete-client clientId="#[bean:Id]"/>
        <freshbooks:list-clients/>
    </flow>
</mule>
