src/test/resources/freshbooks-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:freshbooks="http://www.mulesoft.org/schema/mule/freshbooks"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/freshbooks http://www.mulesoft.org/schema/mule/freshbooks/1.0/mule-freshbooks.xsd">

    <freshbooks:config apiUrl="https://mulesoft.freshbooks.com/api/2.1/xml-in"
                       authenticationToken="d2712de2609e665e03948614ad7197fc"
                       consumerKey="consumerKey"
                       consumerSecret="consumerSecret"
                       objectStore-ref="objectStore">
    </freshbooks:config>

    <spring:beans>
        <spring:bean id="objectStore" class="org.mule.modules.freshbooks.api.FreshBooksObjectStore" />    
    </spring:beans>

    <flow name="categoryFlow">
        <freshbooks:create-category/>
        <freshbooks:get-category categoryId="#[groovy:payload.id]" />
        <freshbooks:update-category />
        <freshbooks:delete-category />
        <freshbooks:list-categories/>
    </flow>

    <flow name="clientFlow">
        <freshbooks:create-client />
        <freshbooks:get-client clientId="#[groovy:payload.id]" />
        <freshbooks:update-client />
        <freshbooks:delete-client />
        <freshbooks:list-clients/>
    </flow>
    
    <flow name="itemFlow">
        <freshbooks:create-item />
        <freshbooks:get-item itemId="#[groovy:payload.id]" />
        <freshbooks:update-item />
        <freshbooks:delete-item />
        <freshbooks:list-items/>
    </flow>
    
    <flow name="invoiceFlow">
        <freshbooks:create-invoice />
        <freshbooks:get-invoice invoiceId="#[groovy:payload.id]" />
        <freshbooks:update-invoice />
        <freshbooks:delete-invoice />
        <freshbooks:list-invoices/>
    </flow>
    
    <flow name="paymentFlow">
        <freshbooks:create-payment />
        <freshbooks:get-payment paymentId="#[groovy:payload.id]" />
        <freshbooks:update-payment />
        <freshbooks:delete-payment />
        <freshbooks:list-payments/>
    </flow>
    
    <flow name="callbackFlow">
        <freshbooks:create-callback />
        <freshbooks:delete-callback />
        <freshbooks:list-callbacks/>
    </flow>
    
</mule>
